@import '../../styles/base.css';
@import '../../styles/button.css';
@import '../../styles/card.css';
@import '../../styles/logo.css';
@import '../../styles/main-menu.css';
@import '../../styles/footer.css';

/* header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 120px;
  position: relative;
}

/* our friens */

.our-friends-section {
  background-color: var(--color-light-l);
}

.our-friends {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  height: 1342px;
  padding-bottom: 18px;
}

.our-friends > h2 {
  width: 460px;
  line-height: 130%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.pagination {
  display: flex;
  gap: 20px;
}

@media (max-width: 1279px) {
  .our-friends {
    height: fit-content;
    padding: 60px 0 70px;
    gap: 42px;
  }

  .cards {
    justify-content: center;
  }

  .cards > .card:nth-child(7),
  .cards > .card:nth-child(8) {
    display: none;
  }
}

@media (max-width: 767px) {
  .our-friends {
   padding: 42px 0;
  }

  .our-friends > h2 {
    width: 100%
  }

  .cards > .card:nth-child(4),
  .cards > .card:nth-child(5),
  .cards > .card:nth-child(6) {
    display: none;
  }

  .pagination {
    gap: 10px;
  }
}
