@import url('../assets/fonts/arial/stylesheet.css');
@import url('../assets/fonts/georgia/stylesheet.css');

:root {
  --color-white: #fff;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-3xl: #292929;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Georgia', serif;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Arial';
}

h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: center;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.is-menu-open {
  overflow-y: hidden;
}

.overlay {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 25px;
    text-align: center;
  }
  .container {
    padding: 0 10px;
  }
}
