.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  appearance: none;
  border-radius: 100px;
  height: 52px;
  padding: 15px 45px;
  cursor: pointer;
}

.btn:hover {
  background-color: #FDDCC4;
}

.btn-primary {
  background-color: #F1CDB3;
  border: none;
}

