.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  appearance: none;
  border-radius: 100px;
  height: 52px;
  padding: 15px 45px;
  cursor: pointer;
  border: 2px solid #f1cdb3;
  background-color: #fff;
}

.btn:hover {
  background-color: #fddcc4;
}

.btn-primary {
  background-color: #f1cdb3;
  border: none;
}

.btn-circle {
  background: none;
  border-radius: 100%;
  padding: 0;
  height: 52px;
  width: 52px;
}

.btn:disabled {
  border: 1px solid #cdcdcd;
  pointer-events: none;
}
