footer {
  background: url(../assets/images/footer-gradient-background.jpg) no-repeat
    center top / cover;
}

.footer {
  display: flex;
  height: 350px;
  padding-top: 56px;
  justify-content: space-between;
  gap: 160px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
}

.footer__contacts h2 {
  color: #ffffff;
  max-width: 280px;
  text-align: left;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.footer__contact > svg {
  height: 40px;
  width: 40px;
  flex: none;
}

.footer__contact > a {
  color: #f1cdb3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__image-container {
  display: flex;
  align-items: flex-end;
}
