.main-menu a {
  color: var(--color-dark-l);
  display: inline-block;
  height: 25px;
  font-size: 15px;
  font-family: "Arial";
}

.main-menu--light a:hover,
.main-menu--light a.active {
  color: var(--color-dark-3xl);
}

.main-menu--light a {
  color: var(--color-dark-s);
}

.main-menu--light a:hover,
.main-menu--light a.active {
  color: var(--color-light-s);
}

.main-menu ul {
  display: flex;
  align-items: center;
  gap: 34px;
}

.main-menu a.active {
  border-bottom: 3px solid var(--color-primary);
}
