@import "../../styles/button.css";
@import "../../styles/card.css";

a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  color: #545454;
  text-align: center;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background: url(../../assets/images/start-screen-gradient-background.jpg)
    no-repeat center top / cover;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 908px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #cdcdcd;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1cdb3;
  column-gap: 10px;
  font-size: 13px;
  line-height: 14.95px;
}

.logo > h1 {
  margin: 0;
  font-size: 32px;
  line-height: 35.2px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

header nav ul li a:hover,
header nav ul li a.active {
  border-bottom: 3px solid #f1cdb3;
}

.not-only {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.not-only__left-block {
  display: flex;
  flex-direction: column;
  padding-top: 223px;
  width: 460px;
  gap: 42px;
}

.not-only__left-block > h2 {
  font-size: 44px;
  color: #fff;
  width: 310px;
}

.not-only__left-block > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin: 0;
}

.not-only__right-block {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

/* about */

.about {
  display: flex;
  align-items: center;
  height: 588px;
}

.about__left-block {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__right-block {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 175px;
}

.about__right-block > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin: 0;
}

/* our friends */

.our-friends-section {
  background-color: #f6f6f6;
}

.our-friends {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  height: 877px;
}

.our-friends > h2 {
  width: 400px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* help */

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 611px;
  gap: 60px;
}

.help > h2 {
  width: 308px;
}

.help__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.help__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 200px;
}

.help__icon-svg {
  height: 60px;
  width: 60px;
}

.help__icon-title {
  font-size: 20px;
  line-height: 115%;
  line-height: 115%;
  letter-spacing: 0.06em;
}

/* in addition */

.in-addition-section {
  background-color: #f6f6f6;
}

.in-addition {
  display: flex;
  height: 462px;
  gap: 30px;
  padding-top: 80px;
}

.in-addition__left-block {
  padding-left: 182px;
}

.in-addition__right-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
}

.in-addition__right-block > h2 {
  text-align: left;
}

.right-block__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.bank-account {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
  background-color: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
}

.bank-account__icon-svg {
  height: 23px;
  width: 30px;
  color: #292929;
}

.bank-account__account {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.right-block__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  color: #b2b2b2;
}

/* footer */

footer {
  background: url(../../assets/images/footer-gradient-background.jpg) no-repeat
    center top / cover;
}

.footer {
  display: flex;
  height: 350px;
  padding-top: 56px;
  justify-content: space-between;
  gap: 160px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;
}

.footer__contacts h2 {
  color: #ffffff;
  max-width: 280px;
  text-align: left;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.footer__contact > svg {
  height: 40px;
  width: 40px;
  flex: none;
}
.footer__contact > a {
  color: #f1cdb3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__image-container {
  display: flex;
  align-items: flex-end;
}
